* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Boxes */
.box__container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

.box {
  height: 7rem;
  padding: 1rem;
}
/* Buttons */
.btn__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.btn {
  background: #fc00ff;
  background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
  background: linear-gradient(to right, #00dbde, #fc00ff);
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 13rem;
  font-size: 1.3rem;
  border: none;
  border-radius: 0.5rem;
  transition: 500ms;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btn:hover {
  transition: 500ms;
  border: 2px solid crimson;
  transform: scale(1.05);
}
